img{
	width: 400px;
	height: 400px;
	border: 20px groove skyblue;
	background-color: maroon;
	margin: 20px;
	box-shadow:10px 10px 10px black;
}
p {
	display: inline-block;
	width: 1000px;
	text-align: justify;
	height: 400px;
	overflow: auto;
}
h1::first-letter{
	/*color: red*/;
	font-size: 4rem;

}
p::first-line{
	color: red;

}

p::selection{
    background-color:rgb(221, 125, 47) ;
	color:rgb(11, 7, 122);
}
li::marker{
	content: "🏏";
	
}

h1::after{
	content: "🏆";
}
h1::before{
	content: "🏆";
}

p:hover{
	background-color:yellow ;
	color: red;
}

a:visited{
	color:whitesmoke;

}
a:hover{
	background-color: yellow;
	color: orangered;
	text-decoration: none;

}
 
a:link{
	color: violet;
	background-color: black;
}

a:active{
	background-color: blue;
	color: red;
}

a{
	font-size: 3rem;
}
iframe{
	width: 500px;
	height: 500px;
}

#rohitSharma{
	background-color: blue;
	border: 20px inset goldenrod;
	border-radius: 30px;

}





